@model MovieListingViewModel
@{
    ViewData["Title"] = "Seach Movies by Name";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<!-- =============== START OF MAIN =============== -->
<main class="ptb100">
    <div class="container">

        <!-- Start of Filters -->
        <div class="row mb100">

            <div class="col-md-6">
                <!-- Layout Switcher -->
                <div class="layout-switcher">
                    <a asp-controller="Movie" asp-action="ListAllMoviesWithName" asp-route-name="@Model.SearchName" asp-route-targetPage="@Model.TargetPage" class="list active"><i class="fa fa-align-justify"></i></a>
                    <a asp-controller="Movie" asp-action="GridAllMoviesWithName" asp-route-name="@Model.SearchName" asp-route-targetPage="@Model.TargetPage" class="grid"><i class="fa fa-th"></i></a>
                </div>
            </div>

            <div class="col-md-6">

                <!-- Sort by -->
                <div class="sort-by">
                    <div class="sort-by-select">
                        <a asp-controller="Movie" asp-action="Index" class="btn btn-main btn-effect btn-add ">Advanced Search</a>
                    </div>
                </div>
                <!-- Sort by / End -->
            </div>
        </div>
        <!-- End of Filters -->
        <!-- Start of Movie List -->
        <div class="row">

            @if (Model.SixMoviesWithName.Count == 0)
            {
                <div class="listing-container">
                    <h5>No Movies with name @Model.SearchName</h5>
                </div>
            }
            else
            {
                @foreach (var movie in Model.SixMoviesWithName)
                {
                    <!-- Movie List Item -->
                    <div class="col-md-12 col-sm-12">
                        <div class="movie-list-2">
                            <div class="listing-container">
                                <!-- Movie List Image -->
                                <div class="listing-image">
                                    <!-- Image -->
                                    <div class="img-wrapper">
                                        <!-- Play Button -->
                                        <div class="play-btn">
                                            <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                                                <i class="fa fa-play"></i>
                                            </a>
                                        </div>
                                        <img src="@movie.FullImagePath" alt="">
                                    </div>
                                </div>
                                <!-- Movie List Content -->
                                <div class="listing-content">
                                    <div class="inner">
                                        <h2 class="title">@movie.Name</h2>
                                        <p>@movie.Bio.Substring(Math.Min(230, movie.Bio.Length))</p>
                                        <a asp-controller="Movie" asp-action="GetMovie" asp-route-movieId="@movie.Id" class="btn btn-main btn-effect">details</a>
                                    </div>
                                    <!-- Rating -->
                                    <div class="stars">
                                        <div class="rating">
                                            @for (int m = 0; m < Math.Min(5, movie.Rating); m++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <!-- End of Movie List -->
        <!-- Start of Pagination -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <nav class="pagination">

                    @if (Model.SixMoviesWithName.Count != 0)
                    {
                    <ul>
                        @for (int i = 1; i < Model.TargetPage; i++)
                        {
                            <li><a asp-controller="Movie" asp-action="ListAllMoviesWithName" asp-route-name="@Model.SearchName" asp-route-targetPage="@i">@i</a></li>
                        }
                        <li><a class="current-page" asp-controller="Movie" asp-action="ListAllMoviesWithName" asp-route-name="@Model.SearchName" asp-route-targetPage="@Model.TargetPage">@Model.TargetPage</a></li>
                        @for (int i = Model.TargetPage + 1; i <= Model.TotalPagesCount; i++)
                        {
                            <li><a a asp-controller="Movie" asp-action="ListAllMoviesWithName" asp-route-name="@Model.SearchName" asp-route-targetPage="@i">@i</a></li>
                        }
                    </ul>
                    }
                       
                  </nav>
            </div>
        </div>
        <!-- End of Pagination -->

    </div>
</main>
<!-- =============== END OF MAIN =============== -->
